.filter_list {
    width: 20%;
    position: fixed;
    top: 70px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 15px;
    list-style-type: none;
    background: #fff;
    box-shadow: 0 5px 5px #111;
    user-select: none;
    z-index: 1;
    transition: .5s;
    overflow: auto;
}

.filter_item {
    width: 100%;
    margin: 10px;
}

.open_close_filter {
    margin-left: auto;
}

.close_filter {
    transform: translateX(-80%);
}

.open_close_filter span {
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

form .filter_item label {
    font-size: 14px;
    text-shadow: none;
    color: #111;
}

.filter_item 
.filter_select, 
.filter_input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 2px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.filter_item_li {
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 900px) {
    .filter_list {
        width: 40%;
        height: auto;
        bottom: 50px;
    }
    .close_filter {
        transform: translateX(-100%);
    }

    .open_close_filter {
        display: none;
    }
}

@media (max-width: 600px) {
    .filter_list {
        width: 60%;
    }
}

@media (max-width: 400px) {
    .filter_list {
        width: 80%;
    }
}